<%- include('../headers/html-header', { title: title }); -%><%-
include('../nav/navbar', { user: user, showButton: true, pageState:
"createGame"}); -%>
<span id="gameId" class="d-none"><%= game.id %></span>
<div class="container-fluid pt-5">
  <div class="row w-100 pt-3">
    <div class="col-12 pt-1">
      <p class="mb-0">
        <a href="/"><small>« Back to Home</small></a>
      </p>
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div id="profileWrapper" class="profile-wrapper col-12 col-md-5"></div>
        <div id="msWrapper" class="ms-wrapper col-12 col-md-7"></div>
      </div>
    </div>
  </div>
</div>
<%- include('../footers/html-footer'); -%>
