* {
  box-sizing: border-box;
}

.text-truncated,
.text-truncated-parent,
.text-truncated-parent * {
  /* Ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.anchor-name {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}

.popover {
  z-index: 1029;
}

.navbar-menu {
  color: #eeeeee;
  font-size: 1.5em;
}

.navbar-menu:hover {
  color: #fff;
}

.offcanvas-body {
  padding: 0;
  height: 100%;
}

.offcanvas-body > div {
  min-height: 100%;
}

.offcanvas-body .nav-pills .nav-link {
  padding: 0.5rem 0;
  border-radius: 0;
}

.offcanvas-body .active.nav-link,
.offcanvas-body .active.nav-link:hover {
  background: #3f51b5;
}

.offcanvas-body .nav-link:hover {
  background: #1a237e;
}

.item {
  padding: 10px;
  margin: 10px;
  border: 1px solid grey;
  width: 28%;
  display: inline-block;
  word-wrap: break-word;
}

.ms-wrapper {
  .col-1 {
    border: 1px solid #000;
    position: relative;
    padding: 0;

    &.unopened {
      cursor: pointer;
      background: #fff59d;
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
